footer.footer 
    .container 
        .footer-top 
            .footer-column
                h3.footer-heading.footer-heading--logo MoGo
                p.footer-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                p.footer-followers <strong>15k</strong> followers
                .footer-social
                    span.footer-social-text follow Us: 
                    .follow-social-list
                        i.fab.fa-facebook.footer-social-icon
                        i.fab.fa-facebook.footer-social-icon
                        i.fab.fa-facebook.footer-social-icon
                        i.fab.fa-facebook.footer-social-icon
                        i.fab.fa-facebook.footer-social-icon
                        i.fab.fa-facebook.footer-social-icon
                        i.fab.fa-facebook.footer-social-icon
                        i.fab.fa-facebook.footer-social-icon
                form.footer-form
                    input(type="text" placeholder=" enter your email...").footer-form-input
                    button.footer-form-button Subscribe 
            .footer-column
                h3.footer-heading Blogs 
                .footer-item 
                    img(src="../images/img-blogs1.png").footer-item-image
                    .footer-item-info
                        p.footer-item-title Lorem ipsum dolor sit amet,consectetur adipiscing 
                        span.footer-item-date jan 9,2016
                .footer-item 
                    img(src="../images/img-blogs2.png").footer-item-image
                    .footer-item-info
                        p.footer-item-title Consectetur adipiscing elit,  sed do eiusmod tempor
                        span.footer-item-date jan 9,2016
                .footer-item 
                    img(src="../images/img-blogs3.png").footer-item-image
                    .footer-item-info
                        p.footer-item-title sed do eiusmod tempor  incididunt ut labore
                        span.footer-item-date jan 9,2016
            .footer-column
                h3.footer-heading Instagram 
                .footer-images 
                    .footer-images-image
                        img(src="../images/img-instagram1.png")
                    .footer-images-image
                        img(src="../images/img-instagram2.png")
                    .footer-images-image
                        img(src="../images/img-instagram3.png")
                    .footer-images-image
                        img(src="../images/img-instagram4.png")
                    .footer-images-image
                        img(src="../images/img-instagram5.png")
                    .footer-images-image
                        img(src="../images/img-instagram6.png")
                    .footer-images-image
                        img(src="../images/img-instagram7.png")
                    .footer-images-image
                        img(src="../images/img-instagram8.png")
                    .footer-images-image
                        img(src="../images/img-instagram9.png")
                .footer-images-more View more photos
        .footer-bottom  &copy Mogo free PSD template by <span>Laaqiq</span>