section.people
    .container 
        +blockBox("Happy clients","What people say")
        .people-list
            .people-item 
                img.people-avatar(src="../images/img-people1.png")
                .people-info 
                    h3.people-name Matthew Dix 
                    span.people-job Graphics Design 
                    p.people-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .people-item 
                img.people-avatar(src="../images/img-people2.png")
                .people-info 
                    h3.people-name Nick Karvounis 
                    span.people-job Graphics Design 
                    p.people-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .people-item 
                img.people-avatar(src="../images/img-people3.png")
                .people-info 
                    h3.people-name Jaelynn Castillo  
                    span.people-job Graphics Design 
                    p.people-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .people-item 
                img.people-avatar(src="../images/img-people4.png")
                .people-info 
                    h3.people-name Mike Petrucci
                    span.people-job Graphics Design 
                    p.people-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.