section.quote
    .container 
        .quote-container 
            //- i.fa.fa-angle-left.quote-arrow-left
            .quote-content 
                img(src="../images/img-quote.png").quote-content-icon
                .quote-content-info 
                    .quote-content-info-desc  "Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae in numquam dicta, consectetur repudiandae optio, minima cum soluta aliquid ipsa excepturi illo autem voluptas nostrum, exercitationem reiciendis id molestiae incidunt!"
                    span.quote-content-info-author Jon Doe
            //- i.fa.fa-angle-right.quote-arrow-right
            .quote-content 
                img(src="../images/img-quote.png").quote-content-icon
                .quote-content-info 
                    .quote-content-info-desc  "Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae in numquam dicta, consectetur repudiandae optio, minima cum soluta aliquid ipsa excepturi illo autem voluptas nostrum, exercitationem reiciendis id molestiae incidunt!"
                    span.quote-content-info-author Jon Doe
            //- i.fa.fa-angle-right.quote-arrow-right