section.service#Service 
    .container
        +blockBox("We work with","Amazing Service")
        .service-container
            .service-list 
                +blockService("../images/img-service-icon1.png","Photography","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor")
                +blockService("../images/img-service-icon2.png","Webdesign","Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor")
                +blockService("../images/img-service-icon3.png","Creativity","Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
            .service-list
                +blockService("../images/img-service-icon4.png","SEO","Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmd tempor.")
                +blockService("../images/img-service-icon5.png","CSS/HTML","Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.")
                +blockService("../images/img-service-icon6.png","Digital","Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")